body {
    background-color: #dbdbdb;
}

.app__header {
    position: relative;
    height: auto;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(212, 172, 135); */
    outline: 2px solid chocolate;
}

#intro {
    position: relative;
    height: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    font-style: italic;
    font-weight: 900;
    color: darkslategrey;
    margin: 24px 0px 5px 0px;
}   

div.app__header > p {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.15rem;
    font-weight: bold;
    color: chocolate;
    margin: 10px 0 12px 0;
}

div.app__header > h2 {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: darkslategrey;
    margin: 12px 0px;
}

div.app__header > div {
    position: relative;
    display: flex;
    width: 100%;
    margin: 18px 0 0 0;
    padding: 0px auto;
    background-color: slategray;
    flex-direction: column;
    align-items: center
}

div.app__header > div > p.user__input-choose > input {
    max-width: auto;
    padding-left: 65px;
}

div.app__header > div > p.user__input-choose {
    position: relative;
    /* max-width: 15%; */
    margin: 18px auto;
}

div.app__header > div > p:nth-child(2) {
    /* max-width: 15%; */
    margin: 10px auto 18px auto;
}

div.app__header > div > p:nth-child(2) > #submit {
    font-size: 1.15rem;
    font-weight: 700;
    border-width: 0px;
    /* justify-self: center; */
}

.carousel {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 25%;
    width: auto;
    margin: 5em auto;
}

.carousel__image {
    height: 100%;
    width: auto;
}

.carousel__track-container {
    /* background: lightcoral; */
    height: 700px;
    width: 450px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    overflow: hidden;
}

.carousel__track {
    /* background-color: blueviolet; */
    position: absolute;
    height: 100%;
    width: auto;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    list-style: none;
    transition: transform .5s ease-in-out;
}

.carousel__slide {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    transition: transform .5s ease-in-out;
}

.carousel__button {
    position: absolute;
    top: 33%;
    transform: translateY(-50%);
    background: transparent;
    opacity: 50%;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: 100px;
}

.carousel__button--right {
    right: 100px;
}

.carousel__button img {
    width: 40px;
}

.thumbnail__nav {
    position: relative;
    background-color: cadetblue;
    width: 800px;
    display: flex;
    justify-content: center;
    margin: 25px auto;
}

.thumbnail__indicator {
    height: 120px;
    width: auto;
    border: 2px solid darkslategray;
    margin: 5px 25px;
    cursor: pointer;
    overflow: hidden;
}

div.thumbnail__nav > button {
    padding: 0px;
    display: flex;
}

div.thumbnail__nav > button.thumbnail__indicator > img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.thumbnail__indicator.current-thumb {
    border: 4px solid lightsalmon;
}

.carousel__thumbnails-container {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.carousel__thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.thumbnail__box {
    position: relative;
    height: 120px;
    width: 80px;
    margin: 5px 15px;
    list-style: none;
    border: 4px solid black;
}

.thumbnail__image {
    height: 120px;
    width: 80px;
}

.carousel__thumbnails-container > ul {
    padding-left: 0px;
}

.app__footer-content {
    height: 100px;
    width: 100%;
    margin: 35px 0 5px 0;
    /* display: flex; */
    flex-direction: column;
    /* outline: 2px solid chocolate; */
}

.app__footer {
    position: relative;
    height: auto;
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(212, 172, 135); */
    outline: 2px solid chocolate;
}

.is-hidden {
    display: none;
}
